/* You can add global styles to this file, and also import other style files */
@import "dhtmlx-gantt/codebase/dhtmlxgantt.css";

.gantt_task_progress {
  text-align: left;
  padding-left: 10px;
  box-sizing: border-box;
  color: white;
}
